@media all and (max-width: 900px) {
  .image-box {
   width: 100%;
   display: inline-block;
   justify-content: center;
}

}

@media all and (max-width: 600px) {
body {
  max-width: 100%; 
}

nav {
  width: 100%;
}
/* The nav-bar styling */

.nav-container {
  margin-top:100px;
  width: 100%;
  height: 200px;
}

.nav-menu {
	font-weight: bold;
	font-size: 16px;
	padding: 0px;
	margin: 0 auto;
/*  display: flex;
  justify-content: center;*/
	/*display: block;*/
}

.nav-bar {
   margin-top: 30px;
   height: 20px;
   width: 80%;
   background-color: white;
 /*  justify-content: center;*/
/*   position: relative;*/
   top: 20px;
}

.nav-menu-item	{
	list-style-type: none;
  width: 90px;
  height: 30px;
  background: #446242;
  border: 5px solid white;
	padding: 15px;
  margin: 5px;
  color: #D9DFDB;
}

.one-line {
  line-height: 30px;
  text-align: center;
}

.two-line {
  line-height: 20px;
  text-align: center;
}

.nav-menu-link {
	color: #D9DFDB;
	text-decoration: none;
  font-size: 25px;
  padding: 5px;
  margin: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .nav-menu-item {
    background-color: #3e8e41;
}

.page-heading {
  width: 400px;
  margin: 0 auto;
  font-size: 50px;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: sans-serif;
  color: brown;
}

.subheading {
  width: 1000px;
  margin: 0 auto;
  font-size: 30px;
  text-align: left;
  font-family: cursive;
  color: #083912;
}

.image-box {
   display: block;
/*   justify-content: center;*/
}

.distract-image{
   border: 10px solid black;
   width: 80%;
   height: 150px;
   margin: 20px;
   background: none;
   background-color: yellow;
   background-size: 100% 100%;
   display: block;
   position: relative;
}

.activism-image {
  border: 10px solid black;
  margin: 20px;
  width:  80%;
  height: 150px;
  background: none;
  background-color: black;
  background-size: 100% 100%;
  display: block;
  position: relative;
}

.meditation-image {
   border: 10px solid black;
   width: 80%;
   height: 150px;
   background: none;
   background-color: grey;
   margin: 20px;
   background-size: 100% 100%;
   display: block;
   position: relative;
}

.image-text {
   font-size: 30px;
   color: #BA4E4E;
   position: absolute;
   top: 30px;
   left: 50px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0px;
  bottom: 0px;
  width: 300px; /* Full width */
  height: 100px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  border-radius: 10%;
  border: 1px solid #888;
  background-color: rgba(25,100,100,.8); /* Black w/ opacity */
  border: 10px solid blue;
}

.top-modal {
  visibility: hidden;
}

.modal-text {
  position: relative;
  bottom: 30px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  background: #fefefe;
  border-radius: 15%;
}

.more-button {
  position: absolute;
  width: 75px;
  height: 50px;
  bottom: 10px;
  left: 20px;
  border-radius: 20%;
}

.close-button {
	position: absolute;
  width: 75px;
  height: 50px;
	bottom: 10px;
	right: 20px;
  border-radius: 20%;
}

.form-modal {
  visibility: hidden;
  height: 200px;
}

.form-email {
  width: 200px;
  height: 20px;
  position: absolute;
  top: 25px;
  left: 50px;
}

.form-comment {
  position: absolute;
  width: 200px;
  top: 75px;
  height: 70px;
  left: 50px;
}

.subm-button {
  position: absolute;
  width: 75px;
  height: 50px;
  right: 20px;
  bottom: 20px;
}

.body-text {
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  font-size: 25px;
  border: 15px solid grey;
  box-shadow: 5px 5px 2px blue;
}

.inner-text {
  padding: 20px;
}

}